{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ title }}</h1>
  <hr>
{% endblock %}

{% block content %}
  {% if article.isNew %}
    {% set action = '/people' %}
  {% else %}
    {% set action = '/people/' + people._id %}
  {% endif %}
  
  <div class="row">

    <div class="col-md-8">

      <div class="input-group">
          <input id="search" type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div><!-- /input-group -->
      <div id="spin"></div>
      <ul id="list" class="searchList">
        
      </ul>

    </div>
    <div class="col-md-6">

      <form method="post" action="/people/{{article.id}}/person" enctype="multipart/form-data" role="form" class="form-horizontal">

        <input type="hidden" name="_csrf" value="{{ csrf_token }}">

            <input type="hidden"  value="{{ edge.id }}" placeholder="Enter the title" class="form-control" >



            <input type="hidden" name="obj" value="{{ edge.id }}" placeholder="Enter the title" class="form-control">

        <div class="form-group">
          <label for="desc" class="col-sm-2 control-label">Body</label>
          <div class="col-sm-10">
            <textarea rows="5" name="body" placeholder="Describe the connection" id="desc" cols="30" rows="10" class="form-control">{{ edge.body }}</textarea>
          </div>
        </div>

        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">Tags</label>
          <div class="col-sm-10">
            <input type="hidden" name="tags" value="{{ edge.tags }}" placeholder="Enter the tags" class="form-control" id="tags">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button disabled class="btn btn-primary" type="submit">Save</button>
            &nbsp;
            <a href="/people" class="btn btn-link">Cancel</a>
          </div>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
{% block subfoot %}
<script src="/js/autocomplete.js"></script>
<script src="/js/min.spin.js"></script>

{% endblock %}

