{% extends '../layouts/default.html' %}

{% block main %}
  <h1>{{ article.firstname }} {{ article.lastname }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-8">
      <p>{{ article.body }}</p>
      <div class="meta">
        {% if (article.createdBy) %}
          Author: &nbsp;
          <a href="{{ '/users/' + article.createdBy._id }}">
            {{ article.createdBy.name || article.createdBy.username }}
          </a>
        {% endif %}
        {% if (article.tags) %}
          <p>
            Tags: &nbsp;
            {% for tag in article.tags.split(',') %}
              <i class="muted fa fa-tag"></i>&nbsp;
              <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
              &nbsp;&nbsp;
            {% endfor %}
          </p>
        {% endif %}
        <span class="muted">{{ article.createdAt.toISOString()|date('M d, Y  h:m a') }}</span>
      </div>
    </div>
    <div class="col-md-4">
      {% if (!article.isNew && article.image && article.image.files && article.image.files.length) %}
        <img src="{{ article.image.cdnUri + '/mini_' + article.image.files[0] }}" alt="">
      {% endif %}
    </div>
  </div>

  <form action="{{ '/people/' + article.id }}" method="post" onsubmit="return confirm('Are you sure?')">
    <br>
    <input type="hidden" name="_csrf" value="{{ csrf_token }}">
    <a href="{{ '/people/' + article._id + '/edit' }}" title="edit" class="btn btn-default">
      Edit
    </a>
    &nbsp;
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger" type="submit">Delete</button>
  </form>

  <div class="row">
    <hr>
    <div class="col-md-10">
      <p class="muted">
        Connected People:
      </p>
      {% for o in article.People %}
      <div class="col-md-2 edge-box">
        <p>
         <a href="/projects/{{project.obj.id}}">{{o.obj.id}} {{o.obj.lastname}}</a>
        </p>
        <p>
          {% for tag in o.tags.split(',') %}
            <i class="muted fa fa-tag"></i>&nbsp;
            <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-2">
      <a href="{{ '/people/' + article._id + '/person' }}" title="edit" class="btn btn-default">
        Add People
      </a>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-md-10">
      <p class="muted">
        Connected Organizations:
      </p>
      {% for o in article.Organizations %}
      <div class="col-md-2 edge-box">
        <p>
         <a href="/projects/{{project.obj.id}}">{{o.obj.title}}</a>
        </p>
        <p>
          {% for tag in o.tags.split(',') %}
            <i class="muted fa fa-tag"></i>&nbsp;
            <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-2">
      <a href="{{ '/people/' + article._id + '/organization' }}" title="edit" class="btn btn-default">
        Add Organizations
      </a>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="col-md-10">
      <p class="muted">
        Connected Projects:
      </p>
      {% for o in article.Projects %}
      <div class="col-md-2 edge-box">
        <p>
         <a href="/projects/{{project.obj.id}}">{{o.obj.title}}</a>
        </p>
        <p>
          {% for tag in o.tags.split(',') %}
            <i class="muted fa fa-tag"></i>&nbsp;
            <a href="{{ '/tags/' + tag }}" class="tag">{{ tag }}</a>
          {% endfor %}
        </p>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-2">
      <a href="{{ '/people/' + article._id + '/project' }}" title="edit" class="btn btn-default">
        Add Project
      </a>
    </div>
  </div>

  <br>
  <h3>Comments</h3>
  {% for comment in article.comments %}
    {% include '../comments/comment.html' %}
  {% endfor %}
  {% include '../comments/form.html' %}
{% endblock %}
